html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-progress-spinner {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
